.logo {
    margin: 25px !important;
    width: 150px !important;
    height: 150px !important;
}

.title {
    font-size: 35px !important;
    font-weight: bold !important;
    font-family: Arial, Helvetica, sans-serif !important;
    text-shadow: 4px 2px 4px rgba(80, 111, 236, 0.6) !important;
}

.title_text {
    display: flex !important;
    width: 1400px !important;
    margin-top: -10px !important;
    margin-left: 10px !important;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
}

.header {
    display: flex;
    color: black !important;

}

p {
    text-align: center !important;
    line-height: 120% !important;
    margin: 0px !important;
    padding: 0px !important;
    margin-top: 30px !important;
}

.main {
    margin-top: 100px;
    margin-left: 55px;
    width: auto;
    height: 600px;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
}

.rasp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    background-color: aliceblue;
    border-radius: 35px;
    box-shadow: 4px 5px 4px rgba(27, 60, 195, 0.6);
    -ms-user-select: none;
    user-select: none;
    margin: 20px;
}

.rasp:hover {
    background-image: linear-gradient(to bottom, #ffffff, #11c7f5);
}

.rasp:active {
    box-shadow: -4px -5px 4px rgba(27, 60, 195, 0.6);
}

.card_text {
    font-size: 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 2px 4px rgba(46, 66, 148, 0.6);
}

a {
    text-decoration: none !important;
    color: black !important;
}


.image_button {
    width: 120px;
    margin: 20px;
}
