{% extends '/admin/base_admin.html' %}

{% block content %}
<div class="container-fluid mt-4">
<h1 style="margin-top: 100px">Добавление нового учителя</h1>

<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.post.label }}<br>
        {{ form.post(class="form-select") }}<br>
        {% for error in form.post.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.teacher_name.label }}<br>
        {{ form.teacher_name(class="form-control") }}<br>
        {% for error in form.teacher_name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.photo.label }}<br>
        {{ form.photo(class="form-control", accept="image/*") }}<br>
        {% for error in form.photo.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.additional_information.label }}<br>
        {{ form.additional_information(class="form-control") }}<br>
        {% for error in form.additional_information.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
</div>
{% endblock %}