<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Гимназия 87</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Zilla+Slab&display=swap" rel="stylesheet"/>
    <!-- Boostrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
    <!-- CSS -->
    {% block extra_css %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/admin.css') }}"/>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Главная страница</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/profile">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">Выйти</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Что хотите сделать?
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/schedule">Добавить расписание</a></li>
                            <li><a class="dropdown-item" href="/admin/add_teacher">Добавить учителя</a></li>
                            <li><a class="dropdown-item" href="/admin/add_menu">Добавить меню столовой</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div></div>
{% block content %}
{% endblock %}
<footer style="font-family: 'Great Vibes', cursive;
font-size: 1.7rem;
text-align: center;
color: #170442;position: fixed;
    left: 50px;
    bottom: 10px;
    width: 100%;">
    <p>Разработано выпускниками ЦДО "IT-Куб" на базе МОУ гимназии № 87</p>
</footer>
{% block extra_js %}
{% endblock %}
</body>
</html>