{% extends '/admin/base_admin.html' %}
{% block extra_css %}
{% endblock %}

{% block content %}
    <div class="page-content">
        <form action="" method="post" class="schedule">
            <div class="main">
                {{ form.hidden_tag() }}
                <div class="selects">
                    <p style="display: flex; height: 55px; gap: 20px">
                        {{ form.grade_level.label(style='font-weight:bold;font-size:32px') }} {{ form.grade_level(style='margin-left:11%;width:100px;border-radius:10px', id='select_grade') }}
                    </p>

                    <a>{{ form.submit(type="submit", class="btn btn-success", style='height:55px; width: 235px;') }}</a>
                    <label class="custom-checkbox">
                        <input type="checkbox" class='edit_mode'>
                        Редактирование
                    </label>
                    <button id="saveButton" class="hidden">Сохранить</button>
                </div>
                <div id="button_container" style="align-items: center;display: flex;justify-content: center"></div>

                <div class="class-buttons mb-4">
                    {% for class_name in classes %}
                        <button type="button"
                                class="btn {% if loop.first %}btn-success{% else %}btn-outline-success{% endif %} me-2 class-btn"
                                data-class="{{ class_name }}" style="width:100px;">
                            {{ class_name }}
                        </button>

                    {% endfor %}
                </div>
                <table class="table table-bordered table-fixed" id="schedule-table">
                    <colgroup>
                        <col style="width: 150px">  <!-- Номер урока -->
                        <col style="width: calc((100% - 150px) / 6)">  <!-- Понедельник -->
                        <col style="width: calc((100% - 150px) / 6)">  <!-- Вторник -->
                        <col style="width: calc((100% - 150px) / 6)">  <!-- Среда -->
                        <col style="width: calc((100% - 150px) / 6)">  <!-- Четверг -->
                        <col style="width: calc((100% - 150px) / 6)">  <!-- Пятница -->
                        <col style="width: calc((100% - 150px) / 6)">  <!-- Суббота -->
                    </colgroup>

                    <thead>
                    <tr>
                        <th>Урок</th>
                        <th>Понедельник</th>
                        <th>Вторник</th>
                        <th>Среда</th>
                        <th>Четверг</th>
                        <th>Пятница</th>
                        <th>Суббота</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lesson_index in range(7) %}
                        <tr>
                            <td>{{ lesson_index + 1 }}-й урок</td>
                            {% for day in form.days %}
                                <td {% if form.is_edit.data== False %}style="pointer-events: none"
                                    {% else %}style="pointer-events: auto" {% endif %}>{{ day.form.lessons[lesson_index].subject(style='width:200px') }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>{{ message }}</div>
            </div>
        </form>

    </div>
{% endblock %}
{% block extra_js %}

    <script>
        const scheduleData = {{ data | tojson }};
    </script>
    <script>

        function updateSchedule(class_name) {
            const lessons = scheduleData[class_name] || {};
            const daysOfWeek = ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'];
            const tableBody = document.querySelector('#schedule-table tbody');

            if (!tableBody) return;

            tableBody.innerHTML = ''; // очищаем предыдущие данные

            // 7 уроков
            for (let lessonNum = 1; lessonNum <= 7; lessonNum++) {
                const row = document.createElement('tr');

                // Ячейка с номером урока
                const numCell = document.createElement('td');
                numCell.textContent = `${lessonNum}-й урок`;
                row.appendChild(numCell);

                // Для каждого дня недели
                daysOfWeek.forEach(day => {
                    const cell = document.createElement('td');
                    cell.textContent = lessons[day]?.[lessonNum] || '';
                    if (editing.checked) {
                        cell.contentEditable = true
                    } else {
                        cell.contentEditable = false
                    }
                    row.appendChild(cell);
                });

                tableBody.appendChild(row);
            }
        }
    </script>

    <script>
        let selectedGlobal = ''
        document.addEventListener("DOMContentLoaded", function () {
            const table = document.getElementById('schedule-table');
            const buttons = document.querySelectorAll('.class-btn');

            if (!buttons.length || !table) return;

            // Функция для установки активной кнопки
            function setActive(button) {
                buttons.forEach(btn => {
                    btn.classList.remove('btn-success');
                    btn.classList.add('btn-outline-success');
                });
                button.classList.remove('btn-outline-success');
                button.classList.add('btn-success');
            }

            // Обработчик клика
            buttons.forEach(button => {
                button.addEventListener('click', () => {
                    const selectedClass = button.getAttribute('data-class');
                    selectedGlobal = selectedClass
                    updateSchedule(selectedClass);
                    setActive(button);
                });
            });

            // Активируем первую кнопку при загрузке
            if (buttons.length > 0) {
                const firstButton = buttons[0];
                setActive(firstButton);
                const selectedClass = firstButton.getAttribute('data-class');
                selectedGlobal = selectedClass

                updateSchedule(selectedClass);
            }
        });
    </script>
    <script>
        const editing = document.querySelector('.edit_mode')
        const saveButton = document.getElementById('saveButton')
        editing.addEventListener('change', function (event) {
            saveButton.classList.toggle('hidden', !event.target.checked)
            if (selectedGlobal) {
                updateSchedule(selectedGlobal)
            } else {
                updateSchedule()
            }
        })

    </script>
    <script>
        saveButton.addEventListener('click', function () {
            const scheduleData = [];
            const daysOfWeek = ['1', '2', '3', '4', '5', '6'];
            const tableBody = document.querySelector('#schedule-table tbody')
            const rows = tableBody.querySelectorAll('tr')
            rows.forEach((row, index) => {
                const cells = row.querySelectorAll('td')
                const lessonNumber = index + 1
                const lessonData = {
                    lessonNumber: lessonNumber,
                    subjects: {}
                }
                daysOfWeek.forEach((day, i) => {
                    const cell = cells[i + 1];
                    lessonData.subjects[day] = cell.textContent.trim() || ''
                })

                scheduleData.push(lessonData)
            })
            scheduleData.push(selectedGlobal)
            scheduleToAPI(scheduleData)
        })

        function scheduleToAPI(data) {
            fetch('api/schedule', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {

                    if (!response.ok) {
                        throw Error('Ошибка')
                    }
                    updateSchedule(selectedGlobal)
                    return response.json()
                })

        }
    </script>
{% endblock %}
