body {
    background-image: url(/static/images/background.png) !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

img.logo {
    position: absolute;
    width: auto;
    height: auto;
    display: block;
    top: 20px;
    left: 50px
}

form {
    font-size: 22px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

form.login_form {
    position: relative;
    margin-top: 25%;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

form.register_form {
    position: relative;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

h1.register {
    position: relative;
    margin-left: 30%;
    margin-right: 35%;
    font-size: 40px;
}

h1.login {
    position: relative;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 40px;
}
