body {
    background-image: url(/static/images/img.png) !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

img.logo {
    position: absolute;
    width: auto;
    height: auto;
    display: block;
    top: 20px;
    left: 50px
}

form {
    font-size: 22px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

form.login_form {
    position: relative;
    margin-top: 25%;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

form.register_form {
    position: relative;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

h1.register {
    position: relative;
    margin-left: 30%;
    margin-right: 35%;
    font-size: 40px;
}

h1.login {
    position: relative;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 40px;
}

form.schedule {
    position: relative;
    width: 80%;
}

table.schedule {
    width: 300px; /* Устанавливаем небольшую ширину таблицы */
    border-collapse: collapse; /* Убираем отступы между ячейками */
    margin: 20px auto; /* Центрируем таблицу на странице */
}

th {
    text-align: center; /* Центрируем текст в заголовках */
    padding: 8px; /* Добавляем внутренние отступы */
    border: 1px solid #ccc; /* Границы для ячеек */
}

td {
    text-align: center; /* Центрируем текст в ячейках */
    padding: 1px; /* Добавляем внутренние отступы */
    border: 1px solid #ccc; /* Границы для ячеек */
}

.title {
    font-size: 35px !important;
    font-weight: bold !important;
    font-family: Arial, Helvetica, sans-serif !important;
    text-shadow: 4px 2px 4px rgba(80, 111, 236, 0.6) !important;
}

.title_text{
    display: flex !important;
    width: 1400px !important;
    margin-top: -10px !important;
    margin-left: 10px !important;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
}

p{
    text-align: center !important;
    line-height: 120% !important;
    margin: 0px !important;
    padding: 0px !important;
    margin-top: 30px !important;
}

.date_time{
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: -20px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 4px 2px 4px rgba(67, 102, 241, 0.6);
}

.main{
    margin-top: 100px;
    margin-left: 55px;
    width: auto;
    height: 600px;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
}

.rasp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    background-color: aliceblue;
    border-radius: 35px;
    box-shadow: 4px 5px 4px rgba(27,60,195,0.6);
    -ms-user-select: none;
    user-select: none;
    margin: 20px;
}

.rasp:hover{
    background-image: linear-gradient(to bottom, #ffffff, #11c7f5);
}

.rasp:active{
    box-shadow: -4px -5px 4px rgba(27,60,195,0.6);
}

.card_text{
    font-size: 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 2px 4px rgba(46, 66, 148, 0.6);
}

footer{
    margin-top: 100px;
    padding-right: 20px;
    display: flex;
    justify-content: end;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
}

a{
    text-decoration: none !important;
    color: black !important;
}

#clock{
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-left: 195px;
    margin-top: 0px;
}

.card_image{
    width: 120px;
    margin: 20px;
}