{% extends 'index.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/stol.css') }}"/>
{% endblock %}

{% block content %}
    <div class="about">
        <div class="images">
            <div id="carouselExample" class="carousel slide"
                 style="width:1000px; height: 720px; display: flex; justify-content: center; align-content: center;">
                <div class="carousel-inner"
                     style="display: flex; justify-content: start; align-content: center; margin-top: 25px;">
                    <div class="carousel-item active justify-content-center">
                        <img src="/static/images/it_cube_programs/itcube1.png" class="d-flex w-100 align-self-center" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/it_cube_programs/itcube2.png" class="d-flex w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/it_cube_programs/itcube3.png" class="d-flex w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/it_cube_programs/itcube4.png" class="d-flex w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"> < </span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"> > </span>
                </button>
            </div>
        </div>
        <div class="scrollable-text">
            <p>Центр цифрового образования детей «IT-куб» на базе МОУ Гимназии №87 создан в 2021 году в рамках
                федерального
                проекта «Цифровая образовательная среда» национального проекта «Образование». Он призван обеспечить
                освоение
                детьми актуальных и востребованных знаний, навыков и компетенций в сфере
                информационно-телекоммуникационных
                технологий, а также создание условий для выявления, поддержки и развития у детей способностей и
                талантов, их
                профориентации, развития математической, информационной грамотности, формирования критического и
                креативного
                мышления.</p> <br>
            <br>
            <p>Центры цифрового образования детей «IT-куб» создаются на территории Российской Федерации для обеспечения
                практической деятельности детей по направлениям, связанным с цифровыми технологиями, реализации программ
                дополнительного образования технической направленности, проведения мероприятий по тематике современных
                цифровых технологий и информатики, знакомства с технологиями искусственного интеллекта, проведения
                просветительской работы по цифровой грамотности и цифровой безопасности граждан, а также повышения
                результативности участия детей в олимпиадах и конкурсах цифрового профиля.</p> <br>
            <br>
            <p>Центр цифрового образования детей «IT-куб» является частью образовательной среды образовательной
                организации, на базе которой осуществляется:</p>

            <ul>
                <li>реализация дополнительных общеобразовательных программ цифрового образования для детей различного
                    возраста;
                </li>
                <li>профориентационная и просветительская деятельность с детьми и взрослыми по цифровой грамотности и
                    информационной безопасности;
                </li>
                <li>организация образовательных мероприятий для детей и педагогов, в том числе из других образовательных
                    организаций;
                </li>
                <li>организация проектной деятельности, в том числе в дистанционном формате, для обучающихся
                    общеобразовательных организаций, на базе которых созданы центры «Точка роста» и детские технопарки
                    «Кванториум»;
                </li>
                <li>организация конкурсов, олимпиад, хакатонов по цифровым технологиям, информатике, программированию;
                </li>
                <li>методическая поддержка общеобразовательных организаций в части совершенствования подходов к
                    преподаванию учебных предметов «Математика» и «Технология».
                </li>
            </ul>
            Центры цифрового образования детей «IT-куб» создаются при поддержке Министерства просвещения Российской
            Федерации. <br>

            Адрес сайта Министерства просвещения Российской Федерации: <b>edu.gov.ru</b>. <br>

            Федеральным оператором мероприятий созданию центров цифрового образования детей «IT-куб» является
            Федеральное государственное автономное учреждение "Центр просветительских инициатив Министерства просвещения
            Российской Федерации". <br>

            Адрес сайта Федерального оператора: <b>https://mpcenter.ru/</b>. <br>

            Региональным координатором мероприятий по созданию центров цифрового образования детей «IT-куб» является
            Министерство образования, науки и молодежной политики Краснодарского края. <br>

            Адрес сайта регионального координатора: <b>https://minobr.krasnodar.ru</b>. <br>

            Информация о национальном проекте «Образование» размещена на сайте Министерства просвещения Российской
            Федерации по ссылке: <b>edu.gov.ru/national-project</b>. <br>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
{% endblock %}
