{% extends 'index.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/stol.css') }}"/>
{% endblock %}

{% block content %}
    <div class="administration">
        <div class="card" style="width: 13rem; margin: 15px; border-radius: 15px;">
            <img src="/static/images/administration/director.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="display: flex; text-align: center;">Директор гимназии</h5>
                <p class="card-text">Подварко Елена Юрьевна</p>
                <br>
                <a href="#" class="btn btn-primary" style="display: flex; text-align: center; justify-content: center;">Подробнее</a>
            </div>
        </div>
        <div class="card" style="width: 13rem; margin: 15px; border-radius: 15px;">
            <img class="card_image" src="/static/images/administration/no_photo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="display: flex; text-align: center;">Заместитель директора</h5>
                <p class="card-text">Добренко Светлана Ивановна</p>
                <br>
                <a href="#" class="btn btn-primary" style="display: flex; text-align: center; justify-content: center;">Подробнее</a>
            </div>
        </div>
        <div class="card" style="width: 13rem; margin: 15px; border-radius: 25px;">
            <img class="card_image" src="/static/images/administration/no_photo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="display: flex; text-align: center;">Заместитель директора</h5>
                <p class="card-text">Пасько Наталья Васильевна</p>
                <br>
                <a href="#" class="btn btn-primary" style="display: flex; text-align: center; justify-content: center;">Подробнее</a>
            </div>
        </div>
        <div class="card" style="width: 13rem; margin: 15px; border-radius: 15px;">
            <img class="card_image" src="/static/images/administration/no_photo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="display: flex; text-align: center;">Заместитель директора</h5>
                <p class="card-text">Кащеева Виктория Михайловна</p>
                <br>
                <a href="#" class="btn btn-primary" style="display: flex; text-align: center; justify-content: center;">Подробнее</a>
            </div>
        </div>
        <div class="card" style="width: 13rem; margin: 15px; border-radius: 15px;">
            <img class="card_image" src="/static/images/administration/no_photo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="display: flex; text-align: center;">Заместитель директора</h5>
                <p class="card-text">Романченко Наталия Викторовна</p>
                <br>
                <a href="#" class="btn btn-primary" style="display: flex; text-align: center; justify-content: center;">Подробнее</a>
            </div>
        </div>
        <div class="card" style="width: 13rem; margin: 15px; border-radius: 15px;">
            <img class="card_image" src="/static/images/administration/no_photo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="display: flex; text-align: center;">Заместитель директора</h5>
                <p class="card-text">Дикалова Марина Валентиновна</p>
                <br>
                <a href="#" class="btn btn-primary" style="display: flex; text-align: center; justify-content: center;">Подробнее</a>
            </div>
        </div>
        <div class="card" style="width: 13rem; margin: 15px; border-radius: 15px;">
            <img class="card_image" src="/static/images/administration/no_photo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="display: flex; text-align: center;">Заместитель директора</h5>
                <p class="card-text">Белозерова Инна Владимировна</p>
                <br>
                <a href="#" class="btn btn-primary" style="display: flex; text-align: center; justify-content: center;">Подробнее</a>
            </div>
        </div>
        <div class="card" style="width: 13rem; margin: 15px; border-radius: 15px;">
            <img class="card_image" src="/static/images/administration/no_photo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="display: flex; text-align: center;">Заместитель директора</h5>
                <p class="card-text">Кононова Елена Сергеевна</p>
                <br>
                <a href="#" class="btn btn-primary" style="display: flex; text-align: center; justify-content: center;">Подробнее</a>
            </div>
        </div>

    </div>
{% endblock %}
{% block extra_js %}
{% endblock %}
