{% extends 'index.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/other.css"/>
{% endblock %}

{% block content %}
    <div class="page-content" style="height:850px;">
        <div class="main">
            <a href="/schedule">
                <div class="rasp">
                    <img class="image_button" src="{{ url_for ('static', filename='images/rasp3.png') }}" alt="">
                    <span class="card_text">Расписание</span>
                </div>
            </a>
            <a href="/team">
                <div class="rasp">
                    <img class="image_button" src="{{ url_for ('static', filename='images/teachers.png') }}" alt="">
                    <span class="card_text">Учителя</span>
                </div>
            </a>
            <div class="rasp">
                <img class="image_button" src="{{ url_for ('static', filename='images/contacts.png') }}" alt="">
                <span class="card_text">Контакты</span>
            </div>
            <a>
                <div class="rasp">
                    <img class="image_button" src="{{ url_for ('static', filename='images/time.png') }}" alt="">
                    <span class="card_text">Запись на приём</span>
                </div>
            </a>
            <div class="rasp">
                <img class="image_button" src="{{ url_for ('static', filename='images/gallery.png') }}" alt="">
                <span class="card_text">Галерея</span>

            </div>
            <a href="/it_cube">
                <div class="rasp">
                    <img class="image_button" src="{{ url_for ('static', filename='images/itcube.png') }}" alt="">
                    <span class="card_text">ЦЦОД "IT-Куб"</span>
                </div>
            </a>
            <a>
                <div class="rasp">
                    <img class="image_button" src="{{ url_for ('static', filename='images/medicine.png') }}" alt="">
                    <span class="card_text">Медкабинет</span>

                </div>
            </a>
            <a href="/canteen">
                <div class="rasp">
                    <img class="image_button" src="{{ url_for ('static', filename='images/eat.png') }}" alt="">
                    <span class="card_text">Столовая</span>
                </div>
            </a>
        </div>
    </div>
{% endblock %}