<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кнопки</title>
    <style>
        .button-row {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        .button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>

    <h1 style="text-align: center;">Мои кнопки</h1>
    <div class="button-container">
        <!-- Первый ряд -->
        <div class="button-row">
            {% for day in weekday[:3] %}
                <button class="button">{{ day.weekday }}</button>
            {% endfor %}
        </div>
        <!-- Второй ряд -->
        <div class="button-row">
            {% for day in weekday[3:] %}
                <button class="button">{{ day.weekday }}</button>
            {% endfor %}
        </div>
    </div>
</body>
</html>