{% extends 'base.html' %}
{% block content %}
<div class="header">
    <img class="logo" src="images/logo.png" alt="">
    <div class="title_text">
        <p class="title">
            Муниципальное общеобразовательное учреждение <br> муниципального образования город Краснодар <br>
            ГИМНАЗИЯ № 87 ИМЕНИ ГЕРОЯ СОВЕТСКОГО СОЮЗА <br>ЕМЕЛЬЯНА ГЕРАСИМЕНКО
        </p>
    </div>
    <div class="date_time">
        <br>
        <script language="javascript" type="text/javascript">
            var d = new Date();

            var day=new Array("Воскресенье","Понедельник","Вторник",
            "Среда","Четверг","Пятница","Суббота");

            var month=new Array("января","февраля","марта","апреля","мая","июня",
            "июля","августа","сентября","октября","ноября","декабря");

            document.write(d.getDate() + " " + " " + month[d.getMonth()]
            + " " + d.getFullYear() + " г. " + day[d.getDay()]);
        </script>
        <br>
        <div id="clock"></div>
    </div>
</div>
<div class="main">
    <a href="schedule.html">
        <div class="rasp">
            <img class="card_image" src="static/images/rasp3.png" alt="">
            <span class="card_text">Расписание</span>
        </div>
    </a>
    <a href="team.html">
        <div class="rasp">
            <img class="card_image" src="static/images/teachers.png" alt="">
            <span class="card_text">Учителя</span>
        </div>
    </a>
    <!-- <a href="teachers.html"> -->
    <div class="rasp">
        <img class="card_image" src="static/images/contacts.png" alt="">
        <span class="card_text">Контакты</span>
    </div>
    <!-- </a> -->
    <div class="rasp">
        <img class="card_image" src="static/images/time.png" alt="">
        <span class="card_text">Запись на приём</span>

    </div>
    <a href="gallery.html">
        <div class="rasp">
            <img class="card_image" src="static/images/gallery.png" alt="">
            <span class="card_text">Галерея</span>

        </div>
    </a>
    <a href="itcube.html">
        <div class="rasp">
            <img class="card_image" src="static/images/itcube.png" alt="">
            <span class="card_text">ЦЦОД "IT-Куб"</span>
        </div>
    </a>
    <div class="rasp">
        <img class="card_image" src="static/images/medicine.png" alt="">
        <span class="card_text">Медкабинет</span>

    </div>
    <div class="rasp">
        <img class="card_image" src="static/images/eat.png" alt="">
        <span class="card_text">Столовая</span>
    </div>
</div>

{% endblock %}