{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/more_detailed.css') }}"/>
{% endblock %}

{% block content %}
<h3 class="name">{{ json['teacher_name'] }}</h3>
<div class="main_div">
    {% if json['way_to_photo'] %}
    <img src="/{{ json['way_to_photo'] }}" class="card-img-top" alt="есть">
    {% else %}
    <img src="/static/images/teachers/no_photo.jpg" class="card-img-top" alt="нет">
    {% endif %}
    <div style="width: 1200px;">
        <h4>Должность</h4>
        <p>{{ posts['post']['title'] }}</p>
        <hr>
        <h4 >Дополнительная информация</h4>
        <p>{{ json['additional_information'] }}</p>
    </div>
</div>

{% endblock %}