{% extends 'index.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/stol.css') }}"/>

{% endblock %}

{% block content %}
<div class="team">
    <a href="page/administration">
        <div class="cards">
            <span class="card_text">Администрация</span>
        </div>
    </a>
    <a href="page/primary_school">
        <div class="cards">
            <span class="card_text">Начальная школа</span>
        </div>
    </a>
    <a href="page/middle_school">
        <div class="cards">
            <span class="card_text">Средняя школа</span>
        </div>
    </a>
</div>
{% endblock %}
